<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>周报相关指标监控</title>
    <!-- 引入 ECharts 文件 -->
    <script src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.1.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/linechart.js')}}"></script>
    <script src="{{url_for('static', filename='js/wordcloud.js')}}"></script>
    <script src="{{url_for('static', filename='js/echarts-wordcloud.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/default.css')}}" />

    <!--script src="catagorylist.js"></script>
    <script src="piechart.js"></script-->
</head>
<body>
	<div id="header" class="header_div" onclick="window.open('/','_self')">
		周报相关指标监控
	</div>
	<div id="summarydiv" class="main">
		<div id="wap" class="wrap">
			<div id="ast_line" class='chart_div_bigger'></div>
		</div>
		<div id="50e" class="wrap">
			<div id="510050_d" class='chart_div'></div>
			<div id="510050_w" class='chart_div'></div>
			<div id="510050_m" class='chart_div'></div>
		</div>
                <div id="500e" class="wrap">
                        <div id="510500_d" class='chart_div'></div>
                        <div id="510500_w" class='chart_div'></div>
                        <div id="510500_m" class='chart_div'></div>
                </div>
                <div id="15e" class="wrap">
                        <div id="159915_d" class='chart_div'></div>
                        <div id="159915_w" class='chart_div'></div>
                        <div id="159915_m" class='chart_div'></div>
                </div>
                <div id="19e" class="wrap">
                        <div id="150019_d" class='chart_div'></div>
                        <div id="150019_w" class='chart_div'></div>
                        <div id="150019_m" class='chart_div'></div>
                </div>
	</div>
	<div id="footer" style="width: 100%;height:10px;"></div>
	<script type="text/javascript">
		//alert("test");
		//drawCloud('ast_line', 'ast_line');
		drawChart('ast_line', 'mpf', '', '', 'http://www.baidu.com');
		//drawChart('510050_d', '50_d', 'candles_3ls/510050', 'day');
	</script>
</body>
</html>
