<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>周报相关指标监控</title>
	<style> 
		body{ background-color:#333; text-align:left; font-family:'Microsoft YaHei'; color:#ddd } 
		.header_div{width:100%;height:50px;font-weight:bold;font-size:22px;}
		.chart_div{ margin:5px; width:32%; height:100%; float:left; text-align: left } 
		.chart_div_small{ margin:5px; width:24%; height:100%; float:left; text-align: left } 
		.main{ margin:0 auto; width:100%; height:700px }
		.top_wrap{ width:100%;height:20%; }
		.wrap{ width:100%;height:30%; }
	</style> 
    <!-- 引入 ECharts 文件 -->
    <script src="{{url_for('static', filename='js/echarts.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery-3.1.1.js')}}"></script>
    <script src="{{url_for('static', filename='js/linechart.js')}}"></script>
    <!--script src="catagorylist.js"></script>
    <script src="piechart.js"></script-->
</head>
<body>
	<div id="header" class="header_div">
		周报相关指标监控
	</div>
	<div id="summarydiv" class="main">
		<div id="wap" class="wrap">
			<div id="ast_line" class='chart_div'></div>
			<div id="wap_blacklist_pv" class='chart_div'></div>
			<div id="wap_other_pv" class='chart_div'></div>
		</div>
		<div id="50e" class="wrap">
			<div id="510050_d" class='chart_div'></div>
			<div id="510050_w" class='chart_div'></div>
			<div id="510050_m" class='chart_div'></div>
		</div>
                <div id="500e" class="wrap">
                        <div id="510500_d" class='chart_div'></div>
                        <div id="510500_w" class='chart_div'></div>
                        <div id="510500_m" class='chart_div'></div>
                </div>
                <div id="15e" class="wrap">
                        <div id="159915_d" class='chart_div'></div>
                        <div id="159915_w" class='chart_div'></div>
                        <div id="159915_m" class='chart_div'></div>
                </div>
                <div id="19e" class="wrap">
                        <div id="150019_d" class='chart_div'></div>
                        <div id="150019_w" class='chart_div'></div>
                        <div id="150019_m" class='chart_div'></div>
                </div>
	</div>
	<div id="footer" style="width: 100%;height:10px;"></div>
	<script type="text/javascript">
		//alert("test");
		drawChart('ast_line', 'ast_line');
		drawChart('510050_d', '50_d', 'candles_3ls/510050', 'day');
                drawChart('510050_w', '50_w', 'candles_3ls/510050', 'week');
                drawChart('510050_m', '50_m', 'candles_3ls/510050', 'month');
                drawChart('510500_d', '500_d', 'candles_3ls/510500', 'day');
                drawChart('510500_w', '500_w', 'candles_3ls/510500', 'week');
                drawChart('510500_m', '500_m', 'candles_3ls/510500', 'month');
                drawChart('159915_d', '15_d', 'candles_3ls/159915', 'day');
                drawChart('159915_w', '15_w', 'candles_3ls/159915', 'week');
                drawChart('159915_m', '15_m', 'candles_3ls/159915', 'month');
                drawChart('150019_d', '19_d', 'candles_3ls/150019', 'day');
                drawChart('150019_w', '19_w', 'candles_3ls/150019', 'week');
                drawChart('150019_m', '19_m', 'candles_3ls/150019', 'month');
	</script>
</body>
</html>
